# This is Git's per-user configuration file.
[user]
	email = 39474671+d-render@users.noreply.github.com
	name = xmf
# Please adapt and uncomment the following lines:
#	name = xmf
#	email = 501235949@qq.com
