.dr-design-layout{
  height: 100%;
  background: var(--el-bg-color);
  --dr-design-header-height: 48px;
  --dr-design-border-color: var(--el-border-color);
  --dr-design-border: 1px solid var(--dr-design-border-color);
  --dr-design-tabs-height: 44px;
  * {
    box-sizing: border-box;
  }
  &__header{
    height: var(--dr-design-header-height);
    display: flex;
    border-bottom: var(--dr-design-border);
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }

  &__title{
    flex: 1;
  }
  &__equipment{
    flex: 1;
    text-align: center;
  }
  &__handle{
    flex: 1;
    display: flex;
    align-items: center;
    //flex-grow: 2;
    justify-content: flex-end;
  }
  &__main{
    height: calc(100% - var(--dr-design-header-height));
    width: 100%;
    display: flex;
  }
  &__modules{
    flex-shrink: 0;
    width: var(--dr-design-header-height);
    border-right: var(--dr-design-border);
    padding: 20px 0;
  }
  &__nav--custom{
    .dr-design-layout__nav__content{
      height: 100%;
    }
  }
  &__nav{
    flex-shrink: 0;
    width: var(--dr-design-nav-width, 255px);
    border-right: var(--dr-design-border);
    height: 100%;
    overflow: hidden;
    &__title{
      margin: 12px 0;
      padding: 0 12px;
      font-weight: bold;
    }
    &__content{
      height: calc(100% - 48px);
      padding-bottom: 8px;
    }
  }
  &__content{
    flex-grow: 2;
    width: 0;
    box-sizing: border-box;
    height: 100%;
    //height: calc(100% - 44px);
    border-right: var(--dr-design-border);
    .dr-breadcrumb--container {
      height: var(--dr-design-tabs-height);
      display: flex;
      align-items: center;
      padding: 0 8px;
      border-bottom: 1px solid var(--el-border-color);
    }
  }
  &__configure{
    flex-shrink: 0;
    width: var(--dr-design-configure-width, 355px);
    height: 100%;
    overflow: hidden;
  }
  &__preview{
    height: calc(100% - 48px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
